/* ------------Постоянные клиенты------------- */

.regular-clients {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}
.regular-clients-list {
  display: flex;
  justify-content: center;
}
.regular-clients-link {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  .regular-clients-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
}
.regular-clients-item + .regular-clients-item {
  margin-left: 30px;
}
.regular-clients-icon {
  fill: #afb1b8;
}

.regular-clients-link:hover,
.regular-clients-link:focus {
  cursor: pointer;
  border-color: var(--accent-color);
  .regular-clients-icon,
  .regular-clients-icon {
    fill: var(--accent-color);
  }
}
